<h3><i class="fas fa-microphone"></i> Votopinions</h3>
<div class="section">
    <p class="lead">Create stories from your daily lives perks</p>
</div>
<div class="divider"></div>
<div class="section">
    <p>Login with</p>
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google"></i>
        {{!-- Login with Google --}}
    </a>
    <a href="/auth/google" class="btn blue darken-2">
        <i class="fab fa-linkedin"></i>
        {{!-- Login with Linkedin --}}
    </a>
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-facebook"></i>
        {{!-- Login with Facebook --}}
    </a>
</div>

{{!-- implement google oauth --}}